<!DOCTYPE html>
<html lang="en-US">

<head>
  {% include themes/dwtalk/head.html %}
</head>

<body data-spy="scroll" data-target=".bs-docs-sidebar" data-twttr-rendered="true" itemscope itemtype="http://schema.org/WebPage">
  <div class="fp">
    {% include themes/dwtalk/navbar.html %}
    <br />
    <div id="container" class="container defaultpage">
      {{ content }}
      <br />
      	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- Coding -->
	<ins class="adsbygoogle"
	     style="display:block"
	     data-ad-client="ca-pub-8991038234614352"
	     data-ad-slot="4552453429"
	     data-ad-format="auto"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
    </div>
    <br />
    <div class="retop">
      <a href="#container" class="no-ajaxy">return to top</a>
    </div>
    <footer class="footer">
      {% include themes/dwtalk/foot.html %}
    </footer>
    {% include themes/dwtalk/logo.html %} {% include JB/analytics %}
  </div>
</body>

</html>
