<!DOCTYPE html>
<!--[if lte IE 6 ]><html class="ie ielt9 ielt8 ielt7 ie6" lang="en-GB"><![endif]-->
<!--[if IE 7 ]><html class="ie ielt9 ielt8 ie7" lang="en-GB"><![endif]-->
<!--[if IE 8 ]><html class="ie ielt9 ie8" lang="en-GB"><![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en-GB"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en-GB"><!--<![endif]-->
	<head>
		{% include themes/dwtalk/head.html %}
	</head>
	<body data-spy="scroll" data-target=".bs-docs-sidebar" data-twttr-rendered="true">
		<div class="fp">
		{% include themes/dwtalk/navbar.html %}
		<br />
		<div id="container" class="container defaultpage">
        	{{ content }}
		</div>
		<br />
		<div class="retop">
			<a href="#container" class="no-ajaxy">return to top</a>
		</div>
		<footer class="footer">
	   		{% include themes/dwtalk/foot.html %}
		</footer>
		{% include themes/dwtalk/logo.html %}
    	{% include JB/analytics %}
	</div>
	</body>
</html>

