<div class="footlink">
	<div class="span3">
		<ul>
			<li><a href="{{ HOME_PATH }}">{{ site.title }}</a></li>
			<li><a href="/blog.html">Blog</a></li>
			<li><a href="/about.html" class="no-ajaxy">About</a></li>
		</ul>
	</div>
	<div class="span3">
		<ul>
			<li><a href="/archive.html">Archive</a></li>
			<li><a href="/pages.html">Pages</a></li>
			<li><a href="/categories.html">Categories</a></li>
			<li><a href="/tags.html">Tags</a></li>
		</ul>
	</div>
	<div class="span3">
		<ul>
			<li><a href="/atom.xml">Atom Feed</a></li>
			<li><a href="/sitemap.txt">Sitemap</a></li>
			<li><a href="/rss.xml">RSS Feed</a></li>
		</ul>
	</div>
</div>