<meta charset="utf-8">
<title>{{ page.title }}</title>
{% if page.description %}
<meta name="description" content="{{ page.description }}">{% endif %}
<meta name="author" content="{{ site.author.name }}">
<meta name="keywords" content="ecommerce, java, opensource, dallas, consulting, hacking, digital, security" />
<meta name="copyright" content="All content (c) Copyright Dustin Talk" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta property="og:title" content="Dustin Talk" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="Dustin Talk" />
<meta property="og:image" content="http://dustinwtalk.com/assets/themes/dwtalk/img/dwtalk.jpg" />
<meta property="og:description" content="Dustin Talk is an Senior Architect/Consultant in Addison TX" />
<meta name="twitter:card" content="summary">
<meta name="twitter:creator" content="@DustinTalk">
<meta name="twitter:title" content="Dustin Talk">
<meta name="twitter:description" content="Senior Tech Architect and Consultant">
<meta name="twitter:image" content="http://dustinwtalk.com/assets/themes/dwtalk/img/dwtalk.jpg">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<link href="{{ ASSET_PATH }}/css/dt.css" rel="stylesheet" type="text/css" media="all" />
<link href='https://fonts.googleapis.com/css?family=Lato:400,700,900,300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="shortcut icon" href="/favicon.ico">
<link rel="apple-touch-icon" href="favicon.png">
<link rel="apple-touch-icon" sizes="72x72" href="favicon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="favicon-114x114.png">
<link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
<link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">

<script defer src="{{ ASSET_PATH }}/js/modernizr.js" type="text/javascript"></script>
<script defer src="//code.jquery.com/jquery-2.1.4.min.js" type="text/javascript"></script>
<script defer src="//code.jquery.com/color/jquery.color-2.1.2.min.js"></script>
<script defer src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
