<!DOCTYPE html>
<!--[if lte IE 6 ]><html class="ie ielt9 ielt8 ielt7 ie6" lang="en-GB"><![endif]-->
<!--[if IE 7 ]><html class="ie ielt9 ielt8 ie7" lang="en-GB"><![endif]-->
<!--[if IE 8 ]><html class="ie ielt9 ie8" lang="en-GB"><![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en-GB"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en-GB"><!--<![endif]-->
  <head>
	{% include themes/dwtalk/head.html %}
  </head>
	<body data-spy="scroll" data-target=".bs-docs-sidebar" data-twttr-rendered="true">
		{% include themes/dwtalk/navbar.html %}
		<div class="slideshow">
			<header class="bcard">
				<h1 class="name">DUSTIN TALK</h1>
				<span class="desc">Consultant,Architect,Hacker,<span id="geek">Geek</span></span>
				<ul class="social-links scard">
					<li class="linkedin"><a href="http://www.linkedin.com/in/dustintalk">linkedin</a></li>
					<li class="twitter"><a href="https://twitter.com/intent/follow?original_referer=&amp;region=follow_link&amp;screen_name=DustinTalk&amp;tw_p=followbutton&amp;variant=2.0">Twitter</a></li>
					<li class="email"><a href="http://kontactr.com/user/dwtalk">email</a></li>
					<li class="github"><a href="https://github.com/dwtalk">github</a></li>
					<li class="googleplus"><a href="https://profiles.google.com/dwtalk">googleplus</a></li>
				</ul>
			</header>
		</div>
		{% include themes/dwtalk/logo.html %}
		{% include JB/analytics %}
	</body>
</html>
