<!--[if (gt IE 8)|!(IE)]><!-->
<script type="text/javascript" defer src="{{ ASSET_PATH }}/js/chillogo.min.js"></script>
<script type="text/javascript" defer src="{{ ASSET_PATH }}/js/chillogo.util.min.js"></script>
<script type="text/javascript" defer src="{{ ASSET_PATH }}/js/chillogo.init.min.js"></script>
 <!--<![endif]-->
<script defer src="//balupton.github.com/jquery-scrollto/scripts/jquery.scrollto.min.js" type="text/javascript"></script>
<script defer src="//browserstate.github.com/history.js/scripts/bundled/html4+html5/jquery.history.js" type="text/javascript"></script>
<script defer src="{{ ASSET_PATH }}/js/ajaxify-html5.js" type="text/javascript"></script> 
<script defer src="{{ ASSET_PATH }}/js/bootstrap.min.js" type="text/javascript"></script>