{% if page.headerimage %}
<div style="background-image: url('{{ page.headerimage }}'); background-size: 100% auto; padding: 0px; margin: 0px; height: 240px; width: 100%;"></div>
{% endif %}
<div class="post">
  <div style="max-width: 90%; margin: 0 auto;"><h2>{{ page.title }} {% if page.tagline %}<small>{{page.tagline}}</small>{% endif %}</h2></div>
  <article itemscope itemtype="http://schema.org/BlogPosting">
    <header style="display: none;">
      <time pubdate itemprop="datePublished" datetime="{{ page.date }}" content="{{ page.date }}"></time>
      <h1 itemprop="name">
        <a href="{{ page.url }}" itemprop="url">{{ page.title }}</a>
      </h1>
    </header>
    <section itemprop="description" style="display: none">
      {{ page.summary }}
    </section>
    <img src="{{ page.headerimage }}" style="display:none" itemprop="image">
    <div itemprop="headline" style="display: none">{{ page.headline }}</div>
    <div class="date">
      <span>{{ page.date | date_to_long_string }}</span>
    </div>
	<br />
      {{ content }}
    <hr>
    <div class="pager">
      <ul>
      {% if page.previous %}
        <li class="previous"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></li>
      {% else %}
        <li class="previous disabled"><a>&larr; Previous</a></li>
      {% endif %}
      {% if page.next %}
        <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
      {% else %}
        <li class="next disabled"><a>Next &rarr;</a></li>
      {% endif %}
      </ul>
    </div>
    <hr>
	<div class="hideltie7">
    	{% include JB/comments %}
	</div>
	<br />
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- Coding -->
	<ins class="adsbygoogle"
	     style="display:block"
	     data-ad-client="ca-pub-8991038234614352"
	     data-ad-slot="4552453429"
	     data-ad-format="auto"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
  </article>
</div>