<div class="topper">
	<header class="htop">
		<h1 class="name">DUSTIN TALK</h1>
		<span class="desc">Consultant,Architect,Hacker,<span id="geek">Geek</span></span>
		<ul class="social-links scard">
			<li class="linkedin"><a href="#">linkedin</a></li>
			<li class="twitter"><a href="#">Twitter</a></li>
			<li class="google"><a href="#">google</a></li>
			<li class="email"><a href="#">email</a></li>
			<li class="github"><a href="#">github</a></li>
			<li class="googleplus "><a href="#">googleplus</a></li>
		</ul>
	</header>
</div>